<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-button color="light" (click)="main.navigateBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>QR Check-In</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="full" (click)="scanQR()">
    Scan QR Code
  </ion-button>

  <div *ngIf="queueNumber">
    <h2>Your Queue Number: {{ queueNumber }}</h2>
  </div>

</ion-content>