// * {
//   font-family: lato;
// }

.menu-header-bg {
  height: 180px;
  width: 350px;
  background: rgb(76 146 140);
  background: linear-gradient(
    90deg,
    rgb(76 146 140) 0%,
    rgb(85 175 165) 35%,
    rgb(89 183 173) 100%
  );
  box-shadow: 0px 1px 10px rgba(85, 175, 165, 0.5);
  transform: rotate(-15deg);
  border-radius: 10px 10px 10px 50px;
  margin-left: -18px;
  margin-top: -50px;
  margin-bottom: 60px;
}

.header-content {
  position: absolute;
  top: 30px;
  left: 15px;
  display: flex;
  align-items: center;

  img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 7px solid #3d837b;
    margin-right: 14px;
  }

  h3 {
    font-weight: 500;
    font-size: 14px;
  }

  p {
    font-size: 14px;
    color: #3d3d3d;
    font-weight: 300;
  }
}

.menu-items {
  margin: 0px;

  ion-icon {
    margin-right: 20px;
    color: #86979f;
  }

  ion-item {
    padding-left: 20px;
    margin-bottom: 10px;
  }

  .active {
    border-left: 5px solid;
    color: #56b0a6;
    padding-left: 15px;

    ion-icon {
      color: #56b0a6;
    }
  }
}
